.App {
  text-align: center;
}

.botCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 24%;
  margin: 10px;
  box-shadow: 0 2px 4px 0 rgb(88, 63, 63);
  word-wrap: break-word;
}

.deleteCard {
  background-color: white;
  color: black;
  padding: 15px;
  text-align: justify;
  font-size: 12px;
}

.deleteCard:hover {
  background-color: red;
}
